.hero {
  display: flex;
  justify-content: space-between;
}

.hero-blur {
  width: 27rem;
  height: 25rem;
  left: 0;
  top: 0rem;
}

.left-h {
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
}

.right-h {
  flex: 1;
  position: relative;
  background-color: var(--orange);
}

.the-best-ad {
  margin-top: 5rem;
  background-color: lightslategray;
  border-radius: 4rem;
  width: fit-content;
  padding: 20px 13px;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.the-best-ad > span {
  z-index: 2;
}
.the-best-ad > div {
  position: absolute;

  background-color: #f48915;
  width: 5.4rem;
  height: 85%;
  border-radius: 3rem;
  left: 8px;
  z-index: 1;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 800;
  color: white;
  text-overflow: inherit;
}

.hero-text .span {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-overflow: inherit;
  padding-top: 1rem;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.figures {
  display: flex;
  gap: 2rem;
}

.figures > div {
  display: flex;
  flex-direction: column;
}

.figures > div > span:nth-of-type(1) {
  font-size: 2.4rem;
  color: white;
}

.figures > div > span:nth-of-type(2) {
  color: rgba(255, 255, 255, 0.377);
  font-size: 1rem;
  text-transform: uppercase;
}

.btns {
  display: flex;
  gap: 2rem;
}
.btns > button {
  width: 8rem;
  color: white;
  font-size: 1rem;
  border: none;
}

.btns > button:nth-child(1) {
  background: var(--orange);
}

.btns > button:nth-child(2) {
  background: none;
  border: 2px solid var(--orange);
}

.right-h > button {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: black;
}

.heartRate {
  border-radius: 5px;
  background-color: var(--darkGrey);
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: start;
  padding: 0.8rem;
  position: absolute;
  top: 5.7rem;
  right: 2rem;
}

.heartRate > img {
  width: 2rem;
}

.heartRate > span:nth-child(2) {
  color: var(--gray);
  font-size: 1.1rem;
}
.heartRate > span:nth-child(3) {
  color: var(--lightgray);
  font-size: 1.5rem;
}

.right-h .heroImage {
  position: absolute;
  top: 10rem;
  right: 11rem;
  width: 18rem;
  z-index: 2;
}
.heroImageback {
  position: absolute;
  top: 5rem;
  right: 19rem;
  width: 12rem;
  z-index: 1;
}
.calories {
  display: flex;
  gap: 2rem;

  background-color: var(--caloryCard);
  border-radius: 5px;
  position: absolute;
  top: 30rem;
  right: 27rem;
  padding: 1rem;
  width: max-content;
}

.calories > img {
  width: 3rem;
}

.calories > div {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  justify-content: space-between;
}

.calories > div > span:nth-child(1) {
  color: var(--gray);
}

.calories > div > span:nth-child(2) {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-blur {
    width: 14rem;
  }
  .the-best-ad {
    margin-top: 0;
    align-self: center;
    font-size: small;
    transform: scale(0.8);
    text-align: center;
    height: 0.5rem;
    width: max-content;
  }
  .hero-text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }

  .hero-text .span {
    font-size: small;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 0.5rem;
    text-align: center;
  }
  .btns button {
    font-size: small;
    font-weight: 200;
  }
  .btns {
    justify-content: center;
  }

  .figures > div > span:nth-child(1) {
    font-size: larger;
   
  }
  .figures > div > span:nth-child(2) {
    font-size: small;
  
  }

  /* right hand side div design */
  .right-h {
    position: relative;
    background: none;
    
  }

  .heartRate {
    
    top: 2rem;
   left: 10rem;
   
  }
  .calories {
    position: relative;
    top: 30rem;

    gap: 0.8rem;
    padding: 0.7rem;
  }
  .calories > img {
    width: 2rem;
  }
  .calories > div > span:nth-child(1) {
    font-size: small;
  }

  .calories > div > span:nth-child(2) {
    font-size: large;
  }
  .right-h .heroImage {
    position: relative;
    align-self: center;
    /* width: 8rem;
    height: 20rem; */
    /* height: auto; */
    width: 55vw;
    left: 46vw;
    top: 33vw;
  }
  .right-h .heroImageback {
    width: 60vw;
    left: 10vw;
    top: 10vw;
    z-index: -1;
  }

  .right-h > button {
    position: relative;
    left: 14rem;
  }
}
