.item {
  background-color: var(--caloryCard);

  margin: 0rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1.7rem;
  color: white;
  line-height: 1.7rem;
}

.item > span {
  font-weight: 650;
  font-size: 1.1rem;
}

.item > div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
.item > div img {
  width: 1.2rem;
}

.item:hover {
  background-color: var(--orange);
  cursor: pointer;
}

.item > :nth-child(1) {
  width: 2rem;
  height: 2rem;
  fill: white;
  padding-bottom: 0.5rem;
}

/* mobile design */

@media screen and (max-width: 768px) {
  .item {
    padding: 0.9rem;
    gap: 0rem;
    line-height: 1.4;
   width: fit-content;
    
  }

  .item > span {
    font-weight: 650;
    font-size: small;
  }
  .item > p {
    font-size: small;
  }

  .item > div img {
    width: 1rem;
  }
  .item > :nth-child(1) {

    width: 1.5rem;
  }
}
