.header {
  display: flex;
  display: flex;
  justify-content: space-between;

  justify-content: space-between;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.header ul {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 1.2rem;
}

.header ul > li:hover {
  color: orange;
  cursor: pointer;
}
