.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  margin-bottom: 3rem;
}

.footer hr {
  width: 100%;
}

.footer .socialIcons {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer .socialIcons > img {
  width: 2rem;
}

.logo img {
  width: 10rem;
}
