.programs {
  margin-top: -2rem;
}
.header > span {
  margin: 0 4.4rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
}
.header > :nth-child(2) {
  color: white;
}

.programData {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1.5rem 2.5rem;
}
