.programs {
  margin-top: -2rem;

}
.header > span {
  margin: 0 4.4rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
}
.header > :nth-child(2) {
  color: white;
}

.programData {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 1.5rem 2.5rem;
 
 
}



/* mobile design */
@media screen and (max-width: 768px) {
  .programs {
    margin-top: -2rem;
  }

  .programData {
    display: flex;
    flex-direction: column;
    margin: 8%;
    align-items: center;
    
  }

  .header{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

     }

  .header > span {
   text-align: center;
    font-size: xx-large;
    flex-direction: column;
    margin: 0;
     
  }

 
  

}
